#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        tonzura {
            bindings = <&kp ESC>;
            key-positions = <1 0>;
        };

        toEng {
            bindings = <&kp LANG2>;
            key-positions = <25 24>;
        };

        toJp {
            bindings = <&kp LANG1>;
            key-positions = <30 31>;
        };

        single {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <33 32>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <21 20>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        space4: space4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp SPACE &kp SPACE &kp SPACE>;
            label = "SPACE4";
        };

        right4: right4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>;
            label = "RIGHT4";
        };

        left4: left4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "LEFT4";
        };

        dispSW: dispSW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHIFT &kp LWIN &kp B>,
                <&macro_release>,
                <&kp LCTRL &kp LSHIFT &kp LWIN &kp B>;

            label = "DISPSW";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W        &lt 5 E     &kp R         &kp T                                                     &kp Y            &kp U         &lt 5 I     &kp O            &kp P
&kp A        &mt LCTRL S  &mt LALT D  &mt LSHIFT F  &kp G        &to 1                 &kp MINUS              &kp H            &mt RSHIFT J  &mt RALT K  &mt RCTRL L      &lt 3 SEMICOLON
&mt LCTRL Z  &mt LWIN X   &kp C       &kp V         &kp B        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp N            &kp M         &kp COMMA   &mt RWIN PERIOD  &mt RSHIFT SLASH
&mkp MB3     &trans       &mkp MB2    &mkp MB1      &lt 1 SPACE  &lt 5 TAB             &lt 5 ENTER            &lt 2 BACKSPACE                                             &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp DELETE       &kp F7        &kp F8           &kp F9         &kp F12                     &kp AMPERSAND    &kp ASTERISK        &kp BACKSLASH   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&trans           &mt LCTRL F4  &mt LEFT_ALT F5  &mt LSHIFT F6  &kp F11  &trans  &trans     &kp DOLLAR       &mt RSHIFT PERCENT  &mt RALT CARET  &mt RCTRL MINUS       &mt SINGLE_QUOTE EQUAL
&kp PRINTSCREEN  &kp F1        &kp F2           &kp F3         &kp F10  &trans  &trans     &kp EXCLAMATION  &kp AT_SIGN         &kp HASH        &kp LEFT_BRACKET      &kp RIGHT_BRACKET
&trans           &trans        &trans           &trans         &trans   &trans  &kp ENTER  &kp BACKSPACE                                                              &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        NUM {
            bindings = <
&kp COLON   &kp N7              &kp N8           &kp N9               &kp MINUS                                   &left4    &trans          &trans        &right4    &kp BACKSPACE
&kp N0      &mt LCTRL NUMBER_4  &mt LEFT_ALT N5  &mt LSHIFT NUMBER_6  &kp SLASH  &trans          &trans           &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&kp PERIOD  &kp NUMBER_1        &kp NUMBER_2     &kp NUMBER_3         &kp COMMA  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp HOME  &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &trans
&trans      &trans              &trans           &trans               &kp SPACE  &kp TAB         &trans           &trans                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        ARROW {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &mo 6                     &kp LC(T)  &kp LG(TAB)        &kp TAB       &kp LCTRL      &kp LS(LG(D))
&trans  &trans        &trans        &trans        &trans  &trans  &trans    &kp LC(S)  &kp LA(LC(RIGHT))  &kp LA(LEFT)  &kp LA(RIGHT)  &trans
&trans  &trans        &trans        &trans        &trans  &trans  &trans    &kp LC(N)  &mkp MB3           &kp LC(W)     &trans         &to 0
&trans  &trans        &trans        &trans        &trans  &trans  &mkp MB2  &mkp MB1                                                   &mo 6
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };
    };
};
